{% extends "Inventario/padre.html" %}

{% load static %}

{% block SeccióndeConsumibles %}

{% for consumible in object_list %}

<li>{{consumible}}</li>

    <a href="{% url 'consumible_detalle' consumible.id %}"><button>DETALLE</button></a>
    <a href="{% url 'consumible_editar' consumible.id %}"><button>EDITAR</button></a>
    <a href="{% url 'consumible_borrar' consumible.id %}"><button>BORRAR</button></a>

{% endfor %}

<p>
    <a href="{% url 'consumible_crear' %}"><button>CREAR</button></a>
</p>

<p>
    <a href="{% url 'BusquedaConsumible' %}"><button>BUSCAR</button></a>
</p>


{% endblock %}

