{% extends "Inventario/padre.html" %}

{% load static %}

{% block SeccióndeConsumibles %}

{% for consumible in object_list %}

<li>{{consumible}}</li>

<button>
    <a href="{% url 'consumible_detalle' consumible.id %}">DETALLE</a>
</button>
<button>
    <a href="{% url 'consumible_editar' consumible.id %}">EDITAR</a>
</button>
<button>
    <a href="{% url 'consumible_borrar' consumible.id %}">BORRAR</a>
</button>

{% endfor %}

<p>
    <button>
    <a href="{% url 'consumible_crear' %}">CREAR</a>
    </button>
</p>

{% endblock %}

