{% extends "Inventario/padre.html" %}

{% load static %}

{% block SeccióndeProveedores %}

{% for proveedor in object_list %}

<li>{{proveedor}}</li>

    <a href="{% url 'proveedor_detalle' proveedor.id %}"><button>DETALLE</button></a>
    <a href="{% url 'proveedor_editar' proveedor.id %}"><button>EDITAR</button></a>
    <a href="{% url 'proveedor_borrar' proveedor.id %}"><button>BORRAR</button></a>

{% endfor %}

<p>
    <a href="{% url 'proveedor_crear' %}"><button>CREAR</button></a>
</p>

<p>
    <a href="{% url 'BusquedaProveedor' %}"><button>BUSCAR</button></a>
</p>
{% endblock %}

